* {
    margin: 0;
    padding: 0;

}


body {
    width: 100%;
    height: 100%;
    background: #3586ff;
    overflow: hidden;
}

#container {
    display: flex;
    height: 33vh;
    position: relative;
    top: 25vh;
    margin-left: 10vw;
    text-align: center;
    font-family: 'Bubbly', sans-serif;

}


/* --------------  Wolken  ------------------------------------------------------------------------------------------------------------------------------------------- */
#air {
    transform: rotate(180deg);
    margin-top: 14vh;

}

section .air {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
    background-size: 1000px 100px
}

section .air.air1 {
    animation: wave 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    top: 0;
}

section .air.air2 {
    animation: wave2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    top: 10px;
}

section .air.air3 {
    animation: wave 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    top: 15px;
}

section .air.air4 {
    animation: wave2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    top: 20px;
}

@keyframes wave {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes wave2 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: -1000px;
    }
}
/* -------   logo   --------------------------------------------------------------------------------------------------------------------------------------- */
#logo {
    position: absolute;
    top: 0;
    left: 1vw;
}
/* ----   Nav   ----------------------------------------------------------------------------------------------------------------------------------------------------- */
nav {
    position: relative;
    top: -2vh;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}



nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Bubbly', sans-serif;
}

nav li a:hover {
    color: #10002a;
    opacity: 60%;
    border-radius: 12%;
    text-decoration: underline;
}

/* ----- Slogan  -------------------------------------------------------- */
#slogan p {
    color: white;
    font-size: 30px;
    text-decoration: underline;

}

#slogan {
    font-size: 40px;
    color: white;
    text-align: left;
    text-shadow: 5px 20px 50px #000000;
}

/* ----    Link naar scan    -------------------------------------------------------------------------------------------------------------------------------- */

#link {
    color: white;
}

#link:hover {
    color: #10002a;
    opacity: 60%;
    border-radius: 12%;
}


/* ----   footer   ----------------------------------------------------------------------------------------------------- */





/* -----    Wolk    ----------------------------------------------------------------------------------------------------------------------------------------- */
section .wat {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
    background-size: 1000px 100px
}

section .wat.wat1 {
    animation: wave 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

section .wat2 {
    animation: wave2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

section .wat.wat3 {
    animation: wave 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

section .wat.wat4 {
    animation: wave2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes wave {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes wave2 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: -1000px;
    }
}